pandas
matplotlib
seaborn
numpy
jupyterlab
scikit-image
ipywidgets
panel
folium
holoviews
scipy
pillow
ipyleaflet
dask
geopandas
contextily
datashader
bokeh
shapely
contextily
rasterio
intake
param
hvplot
fastparquet
selenium
mapclassify
spatialpandas
branca
geoviews
rtree
pygeos
opencv-contrib-python
opencv-python
tilemapbase